version: "3.3"
services:
  web:
    build: .
    volumes:
      - "./uploads:/var/lib/uploads"
    ports:
      - "80:80"
  db:
    image: "mysql:5.7.37-oracle"
    volumes:
      - "./.mysql-data/db:/var/lib/mysql"
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=000000
      - MYSQL_DATABASE=patika
